@model List<WorkListDto>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
    <div class="container my-2">
        <div class="text-right mb-2">
            <a asp-action="Create" asp-controller="Home" class="btn bg-primary">Add</a>
        </div>
        <table class="table table-hover table-bordered table-sm bg-dark">
           <thead class="text-danger">
               <tr>
                   <th>Work</th>
                   <th>Status</th>
                   <th>Process</th>
               </tr>
           </thead>
            <tbody class="text-info">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Definition</td>
                        <td>@(item.IsCompleted?"Completed":"Not Completed")</td>
                        <td><a asp-action="Update" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-warning">Update</a></td>
                        <td><a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>

                    </tr>
                }
            </tbody>   
        </table>
    </div>
</body>
</html>